In [1]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."
text
print(text)

# This is not a comment because it's inside quotes.

In [2]:
##Using python as a calculator
#Numbers
2+2

4

In [3]:
5*5+6-7

24

In [4]:
45/8 #division always returns a floating-point number

5.625

In [5]:
17 / 3  # classic division returns a float

5.666666666666667

In [6]:

17 // 3  # floor division discards the fractional part

5

In [7]:
17 % 3  # the % operator returns the remainder of the division

2

In [8]:

5 * 3 + 2  # floored quotient * divisor + remainder

17

In [9]:
##We can use python to calculate powers
5 ** 2  # 5 squared

25

In [10]:
2 ** 7  # 2 to the power of 7

128

In [11]:
width = 20  # equal sign is used to assigne a value to a variale 
height = 5 * 9
Area = width * height
print(Area)

900

In [12]:
tax = 12.5/100
price = 110.50
Amt = price * tax
print("The total amount is:", Amt)
NewAmt = price + _ #the last printed expression is assigned to the variable _.
print("The new total amount is:", NewAmt)
round(_, 2)

The total amount is: 13.8125
The new total amount is: 238.5

128

In [13]:
num = 2674665972457634
l = len(str(num)) #len cannot count the number of digits directly, so we convert it to string first
print(l)

16

In [14]:
#Text


#single quotes, double quotes, and digits and numbers enclosed in quotes are all strings

'spam eggs'  # single quotes
print('spam eggs')

"Paris rabbit got your back :)! Yay!"  # double quotes
print("Paris rabbit got your back:)! Yay!")

'1975'  # digits and numerals enclosed in quotes are also strings
print('1975')

spam eggs
Paris rabbit got your back:)! Yay!
1975

In [15]:
print ('doesn\'t')  # use \' to escape the single quote

print ("doesn't")  # ...or use double quotes instead

print ('"Yes," they said.')

print ("\"Yes,\" they said.")

print ('"Isn\'t," they said.')

doesn't
doesn't
"Yes," they said.
"Yes," they said.
"Isn't," they said.

In [16]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), special characters are included in the string

'First line.\nSecond line.'

In [17]:
print(s)  # with print(), special characters are interpreted, so \n produces new line

First line.
Second line.

In [18]:
print('C:\some\name')  # here \n means newline!

print(r'C:\some\name')  # note the r before the quote

C:\some
ame
C:\some\name

In [19]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [20]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [21]:
'Py' 'thon'

'Python'

In [22]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
print (text)

Put several strings within parentheses to have them joined together.

In [23]:
prefix = 'Py'
prefix + 'thon'

'Python'

In [24]:
word = 'Python'
word[0]  # character in position 0

'P'

In [25]:
word[5]  # character in position 5

'n'

In [26]:
word[-1]  # last character

'n'

In [27]:
word[-2]  # second-last character

'o'

In [28]:
word[-6]

'P'

In [29]:
First_two = word[0:2]  # characters from position 0 (included) to 2 (excluded)
print(First_two)
word[2:5]  # characters from position 2 (included) to 5 (excluded)

Py

'tho'

In [30]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [31]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [32]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [33]:
one = word[:2] + word[2:]
print(one)
two = word[:4] + word[4:]
print (two)

Python
Python

In [34]:
s = 'ssfjjogjupercfjslkjalifragilisjfkldjfogghgjeissticexpialidocisfjjeoigous'
len(s) ##this returns the length of a string

72

In [35]:
## Lists
squares = [ 1, 4, 9 ,16, 25, 36]
squares

[1, 4, 9, 16, 25, 36]

In [36]:
print (squares)

[1, 4, 9, 16, 25, 36]

In [37]:
squares[0]  # indexing returns the item
print ("The first character of the list is:", squares [0])
squares[-1]
print ("The last character of the list is:", squares [-1])
squares[-3:]  # slicing returns a new list
print ("The thirst last character of the list is:", squares [-3])

The first character of the list is: 1
The last character of the list is: 36
The thirst last character of the list is: 16

In [38]:
squares + [49, 64, 81, 100] # lists also support operations like concatenation

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [40]:
##list.append helps with the addition of new items to the list

cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [41]:
rgb = ["Red", "Green", "Blue"]
rgba = rgb
id(rgb) == id(rgba)  # they reference the same object

rgba.append("Alph") #added "Alph" using .append
rgb

['Red', 'Green', 'Blue', 'Alph']

In [42]:
correct_rgba = rgba[:]
correct_rgba[-1] = "Alpha"
correct_rgba

rgba

['Red', 'Green', 'Blue', 'Alph']

In [43]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters
print(letters)
# replace some values
letters[2:5] = ['C', 'D', 'E']
print ('The replaced list of letters is:', letters)

# now remove them
letters[2:5] = []
print ("The new list of letters is:", letters)

# clear the list by replacing all the elements with an empty list
letters[:] = []
print ("The final list of letters is:", letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
The replaced list of letters is: ['a', 'b', 'C', 'D', 'E', 'f', 'g']
The new list of letters is: ['a', 'b', 'f', 'g']
The final list of letters is: []

In [44]:
letters = ['a', 'b', 'c', 'd'] #len applies to lists as well
len(letters)

4

In [46]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
print (x)

print (x[0])

print (x[0][1])

[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c']
b

In [47]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [48]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [49]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,